<table class="table">
    <thead>
        <tr>
            <th>
                Ürün Adı
            </th>

            <th>
                İşlemler
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Ürün 1
            </td>

            <td>
                <a href="#">Güncelle</a>
                <a href="#">Sil</a>
            </td>
        </tr>

        <tr>
            <td>
                Ürün 2
            </td>

            <td>
                <a href="#">Güncelle</a>
                <a href="#">Sil</a>
            </td>
        </tr>

        <tr>
            <td>
                Ürün 3
            </td>

            <td>
                <a href="#">Güncelle</a>
                <a href="#">Sil</a>
            </td>
        </tr>
    </tbody>
</table>
